.square {
  height: 35px;
  width: 35px;
  border: 1px solid #000;
  background-color: aqua;
  float: left;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carrier {
  background-color: burlywood;
}

.battleship {
  background-color: chartreuse;
}

.cruiser {
  background-color: brown;
}

.submarine {
  background-color: chocolate;
}

.destroyer {
  background-color: crimson;
}
